.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background: transparent;
  color: rgb(114, 114, 114);
  border: 1px solid #ccc;
  padding:10px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  border: 1px solid #ececec;
  border-radius: 6px;
  width: 250px;
  padding: 0;
  margin: 0;
  list-style: none;
  animation: fadeIn 0.15s ease-in-out;
  box-shadow: 0px 1px 3px #ecebeb;
  z-index: 2;
}

.dropdown-item {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 14px;
  cursor: pointer;
  color: rgb(114, 114, 114);
  border-bottom:1px solid #f3f3f3;
}

.dropdown-item:hover {
  background-color: #f3f3f3;
}

.hidden{
    color:#fff;
}

.dropdown-item:hover .hidden{
   color:#f3f3f3!important;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-4px); }
  to { opacity: 1; transform: translateY(0); }
}

#queryText{
  height:100px;
}

input[type="file"]::file-selector-button {
  background-color: transparent; /* Example background color */
  float:left;
  border:0px;
  outline:none;
  color:rgb(114, 114, 114);
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
}